#imgAbout {
    float: right;
}
h1 {
    text-align: left;
    font-size: 2vw;
}
h2 {
    font-size: 1.9vw;
    text-align: center;
    float: left;
}
table {
    background-color: #F9F7F2;
    margin: auto;
    width: 100%
}
th {
    font-weight: normal;
    text-align: left;
    font-size: 1.5vw;
    margin-top: 80px;
}
#imgRes {
    float: right;
    width: 70%;
}
#imgMenu {
    float: right;
    padding-right: 30px;
}
.imgCSS {
    width: 80%;
}
body {
    background-image: url('../img/bakgrunnSide.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

@media screen and (max-width: 960px){
    #container {
        height: 100vh;
    }
}
